/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    background: #4caf50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('farmacia.jpg') no-repeat center center/cover;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero .button {
    background: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.productos {
    padding: 2rem;
    text-align: center;
}

.productos .grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    max-width: 250px;
}

.producto img {
    max-width: 100%;
    border-radius: 5px;
}

.servicios, .contacto {
    padding: 2rem;
    background: #f4f4f4;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 1rem 0;
}

header ul li:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
